<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TxtFlow - Not Found</title>

  <link rel="shortcut icon" type="image/x-icon" href="/images/logo.ico">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/reset.css' />
  <link rel='stylesheet' href='/stylesheets/global.css' />
</head>

<body>
  <header class="header">
    <a class="header__container-logo" href="/">
      <img src="../images/logo.svg" alt="Logo">
      <span>TxtFlow</span>
    </a>

    <div class="header__container-buttons">
      <a class="button-secondary" href="/users/login">Entrar</a>
      <a class="button-primary" href="/users/register">Cadastrar</a>
    </div>
  </header>

  <main class="not-found__main">
    <h1>
      <%= error %>
    </h1>
    <h2>
      <%= title %>
    </h2>
    <p>
      <%= description %>
    </p>
  </main>

  <footer>
    <p>© 2025 TxtFlow - Projeto Back-End</p>
    <span>Análise e Desenvolvimento de Sistemas</span>
  </footer>
</body>

</html>