<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>TxtFlow</title>

  <link rel="shortcut icon" type="image/x-icon" href="/images/logo.ico">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/reset.css' />
  <link rel='stylesheet' href='/stylesheets/global.css' />
</head>

<body>
  <header class="header">
    <a class="header__container-logo" href="/">
      <img src="../images/logo.svg" alt="Logo">
      <span>TxtFlow</span>
    </a>

    <div class="header__container-buttons">
      <a class="button-secondary" href="/users/login">Entrar</a>
      <a class="button-primary" href="/users/register">Cadastrar</a>
    </div>
  </header>

  <div class="landpage__container">
    <main class="landpage__main">
      <aside class="landpage__main-left">
        <h1>Compartilhe suas ideias com o mundo!</h1>
        <p>TxtFlow é a plataforma perfeita para compartilhar pensamentos, conectar-se com colegas e discutir projetos
          acadêmicos</p>

        <a class="button-primary" href="/users/register">Comece agora</a>
      </aside>

      <aside class="landpage__main-right">
        <div class="first"></div>
        <div class="second"></div>
        <div class="principal">
          <article class="post">
            <div class="profile-picture">T</div>
            <div class="post-content">
              <div class="user-info">
                <p>TxtFlow</p>
                <span>@txtflow</span>
              </div>

              <p class="content">
                Bem-vindo à nossa plataforma! Compartilhe suas ideias, conecte-se com colegas e participe de discussões
                acadêmicas.
              </p>
            </div>
          </article>

          <article class="post">
            <div class="profile-picture secondary">T</div>
            <div class="post-content">
              <header class="user-info">
                <p>Talita Leoni</p>
                <span>@talileoni</span>
              </header>
              <p class="content">
                Acabei de me juntar ao TxtFlow! Estou animada para compartilhar meu projeto de ADS com todos vocês.
              </p>
            </div>
          </article>
        </div>
      </aside>
    </main>

    <section class="landpage__cards">
      <h2>Por que escolher o TxtFlow?</h2>

      <div class="landpage__cards-container">
        <div class="landpage__cards-card">
          <div class="container-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-accent-purple" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z">
              </path>
            </svg>
          </div>
          <h3>Compartilhe Ideias</h3>
          <p>Publique seus pensamentos e receba feedback instantâneo dos seus colegas.</p>
        </div>

        <div class="landpage__cards-card">
          <div class="container-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-accent-purple" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z">
              </path>
            </svg>
          </div>
          <h3>Conecte-se</h3>
          <p>Encontre colegas com interesses similares e construa sua rede acadêmica.</p>
        </div>


        <div class="landpage__cards-card">
          <div class="container-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-accent-purple" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z">
              </path>
            </svg>
          </div>
          <h3>Desenvolva Projetos</h3>
          <p>Discuta ideias de projetos e encontre colaboradores para suas iniciativas acadêmicas.</p>
        </div>
      </div>
    </section>
  </div>

  <footer>
    <p>© 2025 TxtFlow - Projeto Back-End</p>
    <span>Análise e Desenvolvimento de Sistemas</span>
  </footer>
</body>

</html>