<!DOCTYPE html>
<html>

<head>
    <title>Entrar</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <form action="/users/login" method="post">
        <label>Username:</label>
        <input type="text" name="username" required><br><br>

        <label>Senha:</label>
        <input type="password" name="password" required><br><br>

        <input type="submit" value="Entrar">
    </form>
</body>

</html>